        <div class="thread-container">
            <div class="thread-post">
            <h3 id="for Jason" class="thread-header">this will render aliasname of user making post</h3>
            <div class="">
            <p class="thread-comment" id="for Jason">This will render the comment</p>
            <p class="thread-counteroffer" id="for Jason" >this will render the Counter offer</p>
            </div>
            </div>
                </div>