
        <div class="thread-container">
            <div class="thread-post">
            <div class="thread-header">{{user.aliasName}}</div>
            <div class="">
            <p class="thread-comment">{{thread}}</p>
            <p class="thread-counteroffer">{{counter_offer}}</p>
            </div>
            </div>
                </div>
