<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Broker Exchange</title>
</head>
<body>
    <header>
        <h1 class="site-header">BROK(ER) EXCHANGE</h1>
      {{#if loggedIn}}
      <div>
        <div class="w3-bar navbar">
            <a href="/" class="w3-bar-item w3-button w3-mobile navbar-item">Community Forum</a>
            <a href="/post" class="w3-bar-item w3-button w3-mobile navbar-item">Make A Post</a>
            <a href="/profile" class="w3-bar-item w3-button w3-mobile navbar-item">My Profile</a>
            <a id="logout" class="w3-bar-item w3-button w3-mobile navbar-item">Logout</a>
        </div>
    </div>
     
        
        {{else}}
        <header class="site-header">Please login or make an account to view or post exchanges.</header>
          </div>
        </div>
      </div>
        {{/if}}  
    </header>
    <!-- renders the sub layout -->
    <main>
      {{{body}}}
    </main>
    
    <footer>

    </footer>
    <script src="./js/logout.js"></script>
</body>
</html>