<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Broker Exchange</title>
</head>
<body>
    <header>
        <h1 class="site-header">BROK(ER) EXCHANGE</h1>
      {{#if logged_in}}
      <div>
        <div class="w3-bar navbar">
            <a href="/views/homepage.handlebars" class="w3-bar-item w3-button w3-mobile navbar-item">Community Forum</a>
            <a href="/views/post.handlebars" class="w3-bar-item w3-button w3-mobile navbar-item">Make A Post</a>
            <a href="/views/profile.handlebars" class="w3-bar-item w3-button w3-mobile navbar-item">My Profile</a>
            <a id="logout" class="w3-bar-item w3-button w3-mobile navbar-item">Logout</a>
        </div>
    </div>
     <header class="recent-posts">RECENT POSTS</header>
        
        {{else}}
        <p>Please login to view or post exchanges.</p>
        <!-- renders the login modal pop up -->
        <div class="w3-container">
        <h2>Broker Exchange</h2>
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-block w3-section w3-padding w3-round-xxlarge create-button">Login</button>
        <div id="id01" class="w3-modal modal-background">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom card" style="max-width:600px">
            <div class="w3-center"><br>
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-display-topright close-modal" title="Close Modal">&times;</span>
              <img src="brokerexchange.img" alt="Broke(er) Exchange" style="width:30%" class="w3-circle w3-margin-top modal-img">
            </div>
            <form class="w3-container">
              <div class="w3-section">
                <label><b class="orange">Username</b></label>
                <input class="w3-input w3-border w3-margin-bottom login-input" type="text" placeholder="Enter Username" name="usrname" required>
                <label><b class="orange">Password</b></label>
                <input class="w3-input w3-border login-input" type="password" placeholder="Enter Password" name="psw" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding login-button" type="submit">Login</button>
              </div>
              <div class="w3-container w3-padding-16 black">
                <span class="w3-right w3-hide-small orange">
                <input class="w3-check " type="checkbox" checked="checked "> Remember me
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
        {{/if}}  
    </header>
    <!-- renders the sub layout -->
    <main>
    
      {{{body}}}
    </main>
    
    <footer>

    </footer>
    <script src="./js/login.js"></script>
</body>
</html>