
<body>
    <form class="w3-container w3-margin">
        <h2 class="w3-center create-acc-header">Create An Account</h2>
         
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user create-card"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border create-input" name="email" type="text" id="email-signup" placeholder="Email">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border create-input" name="username" type="text" id="username-signup" placeholder="Username">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border create-input"  type="password" name="password" type="text" id="password-signup" placeholder="Password" >
  <button id="toggle-password" type="button"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M396 512a112 112 0 1 0 224 0 112 112 0 1 0-224 0zm546.2-25.8C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM508 688c-97.2 0-176-78.8-176-176s78.8-176 176-176 176 78.8 176 176-78.8 176-176 176z"></path></svg></button>
            </div>
        </div>
        
        <button class="w3-button w3-block w3-section w3-padding w3-round-xxlarge create-button" id="signup-form">Create Account</button>
        </form>

      
        <div class="w3-container w3-center">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-block w3-section w3-padding w3-round-xxlarge create-button">Already A User? Click Here!</button>
          
        <div id="id01" class="w3-modal modal-background">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom card" style="max-width:600px">
            <div class="w3-center"><br>
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-display-topright close-modal" title="Close Modal">&times;</span>
              <img src="brokerexchange.img" alt="Broke(er) Exchange" style="width:30%" class="w3-circle w3-margin-top modal-img">
            </div>
            <form class="w3-container">
              <div class="w3-section">
                <label><b class="orange">Username</b></label>
                <input class="w3-input w3-border w3-margin-bottom login-input" type="text" id="username-login" placeholder="Enter Username" name="usrname" required>
                <label><b class="orange">Password</b></label>
                <input class="w3-input w3-border login-input" type="password" id="password-login" placeholder="Enter Password" name="psw" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding" id="login-form" type="submit">Login</button>
              </div>
              <div class="w3-container w3-padding-16 black">
                <span class="w3-right w3-hide-small orange">
                <input class="w3-check " type="checkbox" checked="checked "> Remember me
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

              <script>const passwordInput = document.getElementById('password-signup');
const togglePasswordButton = document.getElementById('toggle-password');

togglePasswordButton.addEventListener('click', togglePassword);

function togglePassword() {
  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    togglePasswordButton.setAttribute('aria-label',
      'Hide password.');
  } else {
    passwordInput.type = 'password';
    togglePasswordButton.setAttribute('aria-label',
      'Show password as plain text. ');
  }
}</script>
        <script src="./js/login.js"></script>

</body>


