  <div class="create-container">
    <form class="create-post" id="post-form">
      <header class="create-header">CREATE A POST</header>
      <div class="create-body">
        <input class="w3-input w3-border w3-margin-bottom post-input"type="text" id="post-title" placeholder="Title">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-post" placeholder="Description">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-need" placeholder="Need">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-close_date" placeholder="Close Date YYYY-MM-DD">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-offer" placeholder="Offer">
        
          <select class="w3-button w3-block w3-left-align" name="Category" id="post-category" required>
          <option value="">Please Select A Category</option>
          <option value="Lost and Found">Lost and Found</option>
          <option value="Food">Food</option>
          <option value="Drinks/Water">Drinks/Water</option>
          <option value="Baby Supplies">Baby Supplies</option>
          <option value="Furniture">Furniture</option>
          <option value="Rides">Rides</option>
          <option value="Planning">Planning</option>
          <option value="Building">Building</option>
          <option value="Tutor">Tutor</option>
          <option value="Moving">Moving</option>
          <option value="Babysit">Babysit</option>
          <option value="Housesit">Housesit</option>
          <option value="Walk Pets">Walk Pets</option>
        </select>
        </div>
        </div>
        <button class="create-button w3-button w3-block">POST</button>
        </div>
    </form>
    <script src="./js/post.js"></script>
</div>

