  <div class="create-container">
    <form class="create-post" id="post-form">
      <header class="create-header">CREATE A POST</header>
      <div class="create-body">
        <input class="w3-input w3-border w3-margin-bottom post-input"type="text" id="post-title" placeholder="Title">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-post" placeholder="Description">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-need" placeholder="Need">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-close_date" placeholder="Close Date YYYY-MM-DD">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" id="post-offer" placeholder="Offer">
        <button class="create-button w3-button w3-block">POST</button>
        </div>
    </form>
    <script src="./js/post.js"></script>
</div>