  <div class="create-container">
    <form class="create-post">
      <header class="create-header">CREATE A POST</header>
      <div class="create-body">
        <input class="w3-input w3-border w3-margin-bottom post-input"type="text" placeholder="Name">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" placeholder="Description">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" placeholder="Address">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" placeholder="Timeframe">
        <input class="w3-input w3-border w3-margin-bottom post-input" type="text" placeholder="Offer">
        <button class="create-button w3-button w3-block">POST</button>
        </div>
    </form>
</div>