<div class="w3-container w3-center profile-head">
        <h3>My Profile</h3>
      </div>
      
      <div class="w3-container w3-center profile-usr">
        <p>Profile Name: {{{aliasName}}}</p>
        <p>Profile Email: {{{}}}</p>
      </div>
      
      <div class="w3-container w3-center profile-hist">
        <p>Post History:</p>
      </div>