
.modal-background {
    background-color:rgba(0, 0, 0, 0.8);
}

.card {
    background-image: url(../images/modal-BG.svg);
    border-radius: 20px;
    font-weight: bolder;
}


.login-input {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-style: none;
    
}

.login-button {
    border-radius: 10px;
    margin-top: 35px !important;
    border-color: transparent;
    border-style:solid
}

.login-button:hover {
  background-color: rgb(247, 91, 49) !important;
  border-color: rgb(204, 204, 204) !important;
  color: rgb(204, 204, 204) !important;
  border-style:solid;
}

.modal-img, .orange {
    color:rgb(247, 91, 49);
}
.close-modal {
    color: rgb(204, 204, 204);
    transition: transform .7s ease-in-out;
}

.close-modal:hover {
    background-color: transparent !important;
    transform: rotate(360deg);
}

.black {
    color: black !important;
}
